.header {
    width: 100%;
    background-color: #1e2022;
    color: #e0e3e8;
    .containerMain {
        display: flex;
        padding: 11px 30px;
        justify-content: space-between;
        height: 65px;
        .menHumbr{
            display: none;
        }
        .logo {
            display: flex;
            img {
                width: 200px;
            }
        }
        .navigate {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-family: "Poppins";
            font-weight: 600;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        .containerMain {
            align-items: center;
            .menHumbr{
                display: block;
                height: max-content;
                cursor: pointer;
            }
            .logo {
                img {
                    display: none;
                }
            }
        }
    }
}
